<form action="/todos/{{todo._id}}/delete" method="post">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" name="isDone" {{#if todo.isDone }} checked {{/if}} disabled>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="name" name="name" value="{{ todo.name }}" disabled>
    <div class="input-group-append">
      <a class="btn btn-success" href="/todo/{{todo._id}}/edit">edit</a>
      <button class="btn btn-danger">delete</button>
    </div>
  </div>
</form>